<header>
    <div>
        <img src="img/logo.jpeg" alt="logo">
        <h1>Emoji</h1>
    </div>
    
    <nav>
        <img src="img/icon-1.jpeg" alt="icon-1">
        <img src="img/icon-2.jpeg" alt="icon-2">
        <img src="img/icon-3.jpeg" alt="icon-3">

        <a href="/">Home</a>
        <a href="/votacao">Votação/</a>

        <img src="img/icon-4.jpeg" alt="icon-4">
        <img src="img/icon-5.jpeg" alt="icon-5">
        <img src="img/icon-6.jpeg" alt="icon-6">
    </nav>
</header>