<header>
    <div>
        <img src="static/logo.jpg" alt="logo">
        <h1>Emoji</h1>
    </div>
    
    <nav>
        <img src="static/icon-1.jpg" alt="icon-1">
        <img src="static/icon-2.jpg" alt="icon-2">
        <img src="static/icon-3.jpg" alt="icon-3">

        <a href="/">Home</a>
        <a href="/votacao">Votação/</a>

        <img src="static/icon-4.jpg" alt="icon-4">
        <img src="static/icon-5.jpg" alt="icon-5">
        <img src="static/icon-6.jpg" alt="icon-6">
    </nav>
</header>