<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, quidem tenetur? Asperiores, illo! Dolores laborum adipisci corrupti, odit libero pariatur dolore eos, sequi blanditiis, nemo repellat voluptatum dolorum id! Dolorum!</p>
        <!-- <img src="/static/logo.jpg" alt="imagem da tela inicial"> -->
    </section>
</body>
</html>