<!DOCTYPE html>
<html lang="en">
<%-incluide()%>
<body>
    <%-incluide()%>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, quidem tenetur? Asperiores, illo! Dolores laborum adipisci corrupti, odit libero pariatur dolore eos, sequi blanditiis, nemo repellat voluptatum dolorum id! Dolorum!</p>
        <img src="img/incial.jpg" alt="imagem da tela inicial">
    </section>
</body>
</html>