<!DOCTYPE html>
<html lang="en">
    <%- include('shared/head') %>

<body>
    <%-include('shared/header')%>

    <section class="">
        <h2>Vote no seu emoji favorito.</h2>

        <img src="v1" alt="1">
        <img src="v2" alt="2">
        <img src="v3" alt="3">
        <img src="v4" alt="4">
        <img src="v5" alt="5">
        <img src="v6" alt="6">
        <img src="v7" alt="7">
        <img src="v8" alt="8">

        <form action="">
            <input type="text" placeholder="Qua seu emoji favorito" name="emoji">
            <textarea name="porque" id="" cols="30" rows="10"></textarea>
            <button>:)</button>
        </form>
    </section>

</body>
</html>